html{
    scroll-behavior: smooth;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    z-index: 999;
    transition: all 0.3s ease;
}
body
{
	background-color: white;
	margin-right: 0px;
	padding: 0px;
    background-image: linear-gradient( to right, #D70071, #9C4E97, #0035AA); 
}

ul
{
	list-style: none;
}

a
{
	text-decoration: none;
}

section
{
	width: 100%;
	height: 100vh;
	background-image: url("img/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 800px;
}

/* Estilo navegador */
nav
{
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 60px;
	background: linear-gradient(0, #120c56, #000000);
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	padding: 0px 5%;
}

nav ul
{
	display: flex;
}

nav ul li a
{
	margin: 30px;
	font-family: myriad pro regular;
	color: gray;
	font-size: 15px;
	font-weight: 700;
}

.logo
{
  transform: translate(-50%, -50%);
  user-select: none;
  color: white;
  background: repeating-linear-gradient(-45deg, red 0%, orange 7.14%, yellow 14.28%,
  #007940 21.4%, #4140FF 28.56%, #9F01BF 35.7%, #FE5DDF 42.84%, red 50%);
  background-size: 100vw 100vw;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: slide 10s linear infinite forwards;
	font-family: 'roboto';
	font-size: 22px;
  font-weight: bold;
  border: 2px solid black;
  margin-left: 30px;
  margin-top: 25px;
}

@keyframes slide {
  0%{
    background-position-x: 0%;
  }
  100%{
    background-position-x: 400vw;
  }
}

.active
{
	font-weight: bold;
	color: white;
}

.SobreMim {
	position: absolute;
	bottom: 2%;
	left: 62%;
	width: 300px;
	height: 220px;
	background-color: transparent;
	border: 6px double #000000;
	border-color: #000000;
	
}

.gifDio{
  height: 250px;
	width: 200px;
	position: absolute;
	left: 85%;
	bottom: 2%;
 }


.texto-sobre  p:nth-child(1)
{
	font-weight: bold;
	color: black;
	font-weight: bold;
	font-family: myriad pro;
	font-weight: bold;
	font-size: 23px;
	line-height: 0px;
	text-decoration: underline black;

}

.texto-sobre  p:nth-child(2)
{
	position: absolute;
	color: white;
	font-family: calibri;
	font-size: 16px;
	display: flex;
	align-items: center;
	text-align: justify;
}

.SobreMim2 {
	position: absolute;
	bottom: 2%;
	right: 66%;
	width: 300px;
	height: 220px;
	background-color: transparent;
	border: 6px double #000000;
	border-color: #000000;
	
}

.imgIronMan{
   
   width: 300px;
   position: absolute;
   right: 83%;
   bottom: 2%;
}

.icon-cards {
    position: relative;
    width: 60vw;
    height: 40vw;
    max-width: 380px;
    max-height: 250px;
    margin: 0;
    color: white;
    perspective: 1000px;
    transform-origin: center;
  }
  .icon-cards__content {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: translateZ(-30vw) rotateY(0);
    -webkit-animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
            animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
  }
  .icon-cards__content.step-animation {
    -webkit-animation: carousel 8s infinite steps(1) forwards;
            animation: carousel 8s infinite steps(1) forwards;
  }
  .icon-cards__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 60vw;
    height: 40vw;
    max-width: 380px;
    max-height: 250px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    transform-origin: center;
  }
  .icon-cards__item:nth-child(1) {
    transform: rotateY(0) translateZ(35vw);
  }
  .icon-cards__item:nth-child(2) {
    transform: rotateY(120deg) translateZ(35vw);
  }
  .icon-cards__item:nth-child(3) {
    transform: rotateY(240deg) translateZ(35vw);
  }
  
  
.imgs{
    width: 380px;
    height: 250px;
	

}

.alinhar{
	display: flex;
position: absolute;
left: 34%;
top: 100px;
}

  @-webkit-keyframes carousel {
    0%, 17.5% {
      transform: translateZ(-35vw) rotateY(0);
    }
    27.5%, 45% {
      transform: translateZ(-35vw) rotateY(-120deg);
    }
    55%, 72.5% {
      transform: translateZ(-35vw) rotateY(-240deg);
    }
    82.5%, 100% {
      transform: translateZ(-35vw) rotateY(-360deg);
    }
  }
  
  @keyframes carousel {
    0%, 17.5% {
      transform: translateZ(-35vw) rotateY(0);
    }
    27.5%, 45% {
      transform: translateZ(-35vw) rotateY(-120deg);
    }
    55%, 72.5% {
      transform: translateZ(-35vw) rotateY(-240deg);
    }
    82.5%, 100% {
      transform: translateZ(-35vw) rotateY(-360deg);
    }
  }
  html,
  body {
    height: 100%;
  }
  

  
  @-webkit-keyframes jelly {
    from {
      transform: scale(1, 1);
    }
    30% {
      transform: scale(1.25, 0.75);
    }
    40% {
      transform: scale(0.75, 1.25);
    }
    50% {
      transform: scale(1.15, 0.85);
    }
    65% {
      transform: scale(0.95, 1.05);
    }
    75% {
      transform: scale(1.05, 0.95);
    }
    to {
      transform: scale(1, 1);
    }
  }
  
  @keyframes jelly {
    from {
      transform: scale(1, 1);
    }
    30% {
      transform: scale(1.25, 0.75);
    }
    40% {
      transform: scale(0.75, 1.25);
    }
    50% {
      transform: scale(1.15, 0.85);
    }
    65% {
      transform: scale(0.95, 1.05);
    }
    75% {
      transform: scale(1.05, 0.95);
    }
    to {
      transform: scale(1, 1);
    }
  }
